.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  gap:30px;
}



.featureSvg {
  height: 200px;
  width: 200px;
}
.description{
  text-align: justify;
  font-size: large;

}
.description:hover{
  color:#00FF00
}
.smalldescription{

  font-size: large;

}
.smalldescription:hover{
  color:#00FF00
}
.h3-text{
  font-weight: 900;
}

@media screen and (max-width: 500px) {
  .description{
    font-size: medium;


  }
  .smalldescription{

    font-size: medium;

  }
}